<a href="https://colab.research.google.com/github/Luis-Eduardo-P-Ch/Programacion-para-el-Analisis-de-datos/blob/main/Practica4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programaci칩n para An치lisis de datos
## Pr치ctica 4: Pandas
 


<b>Nota:</b>
Esta practica esta basada en los ejercicios de varios recursos online como:

* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/
* https://www.kaggle.com/learn/pandas
* https://github.com/facuzeta/pandas_exercises
* https://github.com/guipsamora/pandas_exercises


<b>Indice:</b>

1. [Extracci칩n de datos](#Extraer-datos:-Restaurant)
2. [Filtrar datos](#Filtrar-datos)
3. [GroupBy](#GroupBy)
4. [Apply](#Apply:-Student-Alcohol-Consumption)
5. [Merge](#Merge:-Housing-Market)
6. [Stats](#Stats:-US---Baby-Names)
7. [Deleting](#Deleting:-Iris)
8. [Bonus](#lab#Bonus:)

# Extraer datos: Restaurant
Referencias:
* [Read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
* [Group by](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
* [dtype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html)

1. Import the necessary libraries

In [ ]:
import pandas as pd

2. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/chipotle.tsv).

In [ ]:
df = pd.DataFrame()
df = pd.read_csv('https://facuzeta.github.io/udesa/01_programacion/guias/datasets/chipotle.tsv', sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

3. Assign it to a variable called chipo.

In [ ]:
chipo=df.copy()

4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

5. What is the number of observations in the dataset?

In [ ]:
#Muestra el numero total de elementos (multipliccion de filas por columnas)
print(chipo.size)

23110

6. What is the number of columns in the dataset?

In [ ]:
#Muestra el numero de filas
print(chipo.shape[0])

#Muestra el numero de columnas
print(chipo.shape[1])

4622
5

7. Print the name of all the columns.

In [ ]:
#Mostrar el nombre de las columnas 
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

9. Which was the most-ordered item?

In [ ]:
#Utilizamos value_counts() para obtener el recuento de cada producto
counts= chipo['item_name'].value_counts()
counts

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [ ]:
#Obtenemos el producto mas pedido 
producto_mas_pedido= counts.index[0]
print("El producto_mas_pedido es: ", producto_mas_pedido)

El producto_mas_pedido es:  Chicken Bowl

10. For the most-ordered item, how many items were ordered?

In [ ]:
#Utilizamos value_counts() para obtener el recuento de cada producto
counts= chipo['item_name'].value_counts()

#Obtenemos el producto mas pedido
producto_mas_pedido= counts.index[0]

#Seleccionamos las filas que corresponden al producto m치s pedido
Filas_producto_mas_pedido= chipo.loc[chipo['item_name']== producto_mas_pedido]

#Obtenemos las cantidades del producto m치s pedido
cantidades_producto_mas_pedido = Filas_producto_mas_pedido['quantity']

#mostramos las cantidaes del producto mas pedido
print("Las cantidades del producto m치s pedido son: ")
print(cantidades_producto_mas_pedido)

Las cantidades del producto m치s pedido son:
4       2
5       1
13      1
19      1
26      1
       ..
4590    1
4591    1
4595    1
4599    1
4604    1
Name: quantity, Length: 726, dtype: int64

In [ ]:
# Utilizamos groupby() para agrupar las filas por producto y sumar las cantidades
suma_por_producto=chipo.groupby('item_name')['quantity'].sum()

#Obtenemos la suma total del producto chicken bowl
suma_producto_chicken_bowl=suma_por_producto['Chicken Bowl']

#mostramos la suma total del producto 
print("La suma total del producto es: ", suma_producto_chicken_bowl)

La suma total del producto es:  761

11. What was the most ordered item in the choice_description column?

In [ ]:
counts_choicedescription= chipo['choice_description'].value_counts()
counts_choicedescription

[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: choice_description, Length: 1043, dtype: int64

In [ ]:
#Obtenemos el producto mas pedido en la columna choice_description
producto_mas_pedido_columna_choice= counts_choicedescription.index[0]
print("El producto_mas_pedido es: ", producto_mas_pedido_columna_choice)

El producto_mas_pedido es:  [Diet Coke]

12. How many items were orderd in total?

In [ ]:
# Utilizamos groupby() para agrupar las filas por producto y sumar las cantidades
suma_por_producto_choice=chipo.groupby('choice_description')['quantity'].sum()


#Obtenemos la suma total del producto Diet Coke
suma_producto_Diet_Coke=suma_por_producto_choice['[Diet Coke]']


#mostramos la suma total del producto 
print("La suma total del producto es: ", suma_producto_Diet_Coke)

La suma total del producto es:  159

13. Turn the item price into a float

13.a. Check the item price type

In [ ]:
print(chipo.dtypes)

13.b. Change the type of the column into a float

In [ ]:
# Eliminamos el simbolo del dolar 
chipo['item_price']=chipo['item_price'].str.replace('$', '')

#Convertimos la coluna 2 de tipo object a tipo float
chipo['item_price']= chipo['item_price'].astype(float)

#Mostramos el dataframe resultante
print(chipo.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

<ipython-input-10-ef2fba1b60a9>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price']=chipo['item_price'].str.replace('$', '')

13.c. Check the item price type

In [ ]:
print(chipo.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

14. How much was the revenue for the period in the dataset?

In [ ]:
#Calculamos la suma de la multiplicacion de las columnas precio y numero de orden

ingreso=(chipo['quantity']* chipo['item_price']).sum()

#Mostramos resultado
ingreso

39237.02

15. How many orders were made in the period?

In [ ]:
numero_ordenes= chipo['quantity'].sum() 

numero_ordenes

4972

16. What is the average revenue amount per order?

In [ ]:
#Creamos la Variable ingreso
chipo['ingresos']= chipo['quantity']*chipo['item_price']

#calculamos el ingreso promedio por pedido
ingreso_promedio= chipo.groupby('quantity')['ingresos'].mean()

print(ingreso_promedio)

quantity
1       7.175901
2      23.686786
3      40.120714
4      52.384000
5      37.500000
7      73.500000
8     108.160000
10    150.000000
15    663.750000
Name: ingresos, dtype: float64

17. How many different items are sold?

In [ ]:
num_productos=chipo['item_name'].nunique()

print(num_productos)

50

18. How many products cost more than $10.00?

In [ ]:
#cuales son los productos que costaron mas de 10
productos_mayor_10=chipo[chipo['item_price']>10]

# Si queremos contar cuantos productos diferentes costaron m치s de 10
num_productos_mayor_10=productos_mayor_10['item_name'].nunique()

print(num_productos_mayor_10)

31

## Filtrar datos
Referencias:
* [Reset Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)
* [Sort values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values)

19. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
print(chipo[['item_name', 'item_price']])

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

20. Sort by the name of the item

In [ ]:
productos_ordenados=chipo.sort_values(by='item_name')
print(productos_ordenados)

      order_id  quantity          item_name  \
3389      1360         2  6 Pack Soft Drink
341        148         1  6 Pack Soft Drink
1849       749         1  6 Pack Soft Drink
1860       754         1  6 Pack Soft Drink
2713      1076         1  6 Pack Soft Drink
...        ...       ...                ...
2384       948         1  Veggie Soft Tacos
781        322         1  Veggie Soft Tacos
2851      1132         1  Veggie Soft Tacos
1699       688         1  Veggie Soft Tacos
1395       567         1  Veggie Soft Tacos

                                     choice_description  item_price
3389                                        [Diet Coke]       12.98
341                                         [Diet Coke]        6.49
1849                                             [Coke]        6.49
1860                                        [Diet Coke]        6.49
2713                                             [Coke]        6.49
...                                                 ...         ...
2384  [Roasted Chili Corn Salsa, [Fajita Vegetables,...        8.75
781   [Fresh Tomato Salsa, [Black Beans, Cheese, Sou...        8.75
2851  [Roasted Chili Corn Salsa (Medium), [Black Bea...        8.49
1699  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
1395  [Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...        8.49

[4622 rows x 5 columns]

21. What was the quantity of the most expensive item ordered?

In [ ]:
#Primero encontramos el producto con el precio unitario mas alto
precio_maximo=chipo.nlargest(1,'item_price')

#luego fobtenemos la cantidad de ese producto 
nombre_producto_precio_maximo=precio_maximo['item_name'].values[0]
cantidad_producto_precio_maximo= precio_maximo['quantity'].values[0]

print(f"El producto mas caro pedido fue {nombre_producto_precio_maximo} con una cantidad de {cantidad_producto_precio_maximo}")

El producto mas caro pedido fue Chips and Fresh Tomato Salsa con una cantidad de 15

22. How many times was a Veggie Salad Bowl ordered?

In [ ]:
#Podemos usar un filtro en la columna item_name para obteenr las filas correspondientes al VEggie Salad Bowl
pedidos_Veggie_salad=chipo[chipo['item_name']=='Veggie Salad Bowl']

#Luego podemos usar sum() en la columna quantity para obtener la suma total pedida
cantidad_Veggie_salad_pedido=pedidos_Veggie_salad['quantity'].sum()

cantidad_Veggie_salad_pedido

18

23. How many times did someone order more than one Canned Soda?

In [ ]:
#Obtenemos un filto para obtener las filas correspondientes a Canned Soda
pedidos_Canned_soda= chipo[chipo['item_name']=='Canned Soda']

#Luego usamos condiciones logicas para filtrar las filas que cumplan con las condiciones de interes(aquellas con quantity >1)
pedidos_Canned_soda_mas_de_una_vez= pedidos_Canned_soda[pedidos_Canned_soda['quantity']>1]

#Contamos el numero de filas que cumplen con esta condicion con shape[0]

cantidad_Canned_soda_mas_de_una_vez=pedidos_Canned_soda_mas_de_una_vez.shape[0]

cantidad_Canned_soda_mas_de_una_vez

20

## GroupBy

Referencias:
* [Describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

GroupBy can be summarized as Split-Apply-Combine. Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)

24. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/drinks.csv).

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame()
df= pd.read_csv('https://facuzeta.github.io/udesa/01_programacion/guias/datasets/drinks.csv')
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

25. Assign it to a variable called drinks.

In [7]:
drinks= df.copy()

26. Which continent drinks more beer on average?

In [10]:
#Agrupar por continente y calcular el promedio de consumo de cerveza
cerveza_por_continente=df.groupby('continent')['beer_servings'].mean()

#Encontrar el continente con el mayor promedio de consumo de cerveza
continente_mayor_cerveza= cerveza_por_continente.idxmax()

print("Promedio por continente",cerveza_por_continente, "El continente que bebe m치s cerveza en promedio es:", continente_mayor_cerveza)

Promedio por continente continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64 El continente que bebe m치s cerveza en promedio es: EU

27. Print the mean alcohol consumption per continent for every column

In [11]:
#Agrupar por continente y calcular la media para cada columna
media_por_continente=df.groupby('continent').mean()

#imprimir el resultado

print(media_por_continente)

           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

28. Print the median alcohol consumption per continent for every column

In [12]:
#Agrupar por continente y calcular la mediana para cada columna

mediana_por_continente=df.groupby('continent').median()

#Imprimir el resultado
print(mediana_por_continente)

           beer_servings  spirit_servings  wine_servings  \
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

29. Print the mean, min and max values for spirit consumption.

In [15]:
#Obetener un resumen estad칤stico para el consumo de spirit_servings

resumen_spirit= df['spirit_servings'].describe()[['mean', 'min', 'max']]

#imprimir el resultado
print(resumen_spirit)

mean     80.994819
min       0.000000
max     438.000000
Name: spirit_servings, dtype: float64

## Apply: Student Alcohol Consumption
Referencias:
* [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.apply.html?highlight=apply#pandas.core.groupby.GroupBy.apply)

30. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/student-mat.csv).

31. Assign it to a variable called df.

32. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

33. Create a function that will capitalize strings.

34. Capitalize both Mjob and Fjob

35. Print the last elements of the data set.

36. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

## Merge: Housing Market
Referencias:
* [randint](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html)

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

37. Import the necessary libraries

38. Create 3 differents Series, each of length 100, as follows: 
<br>
    The first a random number from 1 to 4 
    <br>
    The second a random number from 1 to 3
    <br>
    The third a random number from 10,000 to 30,000

39. Let's create a DataFrame by joinning the Series by column

40. Change the name of the columns to bedrs, bathrs, price_sqr_meter

41. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

42. Oops, it seems it is going only until index 99. Is it true?

43. Reindex the DataFrame so it goes from 0 to 299

## Stats: US - Baby Names

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014

44. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/US_Baby_Names_right.csv.zip).

45. Assign it to a variable called baby_names.

46. See the first 10 entries

47. Delete the column 'Unnamed: 0' and 'Id'

48. Is there more male or female names in the dataset?

49. Group the dataset by name and assign to names

50. How many different names exist in the dataset?

51. What is the name with most occurrences?

52. How many different names have the least occurrences?

53. What is the median name occurrence?

54. What is the standard deviation of names?

55. Get a summary with the mean, min, max, std and quartiles.

## Deleting: Iris
Referencias:
* [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

56. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/iris.data).

57. Assign it to a variable called iris

58. Create columns for the dataset

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

59.  Is there any missing value in the dataframe?

60.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

61. Good, now lets substitute the NaN values to 1.0

62. Now let's delete the column class

63.  Set the first 3 rows as NaN

64.  Delete the rows that have NaN

65. Reset the index so it begins with 0 again

## Bonus:
Si quiere mas ejercicios visitar:
* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/